*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cards-container{
    background-color: rgb(52, 52, 107);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    padding: 60px;
}

.card-wrapper{
    width: 250px;
    height: 350px;
}

.flag{
    width: 100%;
    height: 50%;
}

.countryName{
    font-style: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.text-content{
    background-color: rgb(33, 33, 70);
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
    padding: 20px;
    gap: 10px;
}