* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: glory-regular;
    src: url(./Media/gilroy-regular.ttf);
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        animation-timing-function: ease-in;
    }

    50% {
        transform: scale(1.33);
    }
}

body {
    font-family: glory-regular;
    
}

header { 
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin: 41px 80px;
    width: calc(100% - 160px);
}

header nav ul {
    display: flex;
    justify-content: space-between;
    gap: 62px;    
}

header nav ul li {
    list-style: none;
    font-size: 18px;
    line-height: 21px; 
    color: white;
    
}

header nav ul .list-arrow {
    margin-left: 7px;
}


header nav ul li:hover {
    color: rgba(180, 180, 180, 0.726);
    transition: 0.3s;
    cursor: pointer;
}
.keti:hover .list-arrow{
    transform: rotate(180deg);
    transition: 0.3s;
    cursor: pointer;
}

header span.brand-name {
    font-size: 28px;
    line-height: 32.81px;
    color: white;
}

header button {
    position: relative;
    background: transparent;
    border: none;
    width: 34px;
    height: 34px;
    margin-top: 2px;
}

header button span {
    position: absolute;
    right: -4px;
    top: 1px;
    background: rgba(229, 132, 17, 1); 
    width: 20px;
    height: 26px;
    border-radius: 99px; 
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 2px;

}
/* Home Page Section */

.home_page-wrapper {
    overflow: hidden;
    background-image: url(./Media/background_image_1.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    min-width: 1440px;
    height: 100vh;
}

.content-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 161px;
    gap: 20px;
    color: white
}

.content-holder h1{
    font-size: 80px;
    line-height: 104px;
    width: 861px;
    height: 208px;
}

.content-holder p {
    font-size: 24px;
    line-height: 34.8px;
    width: 606px;
    height: 76px;
    opacity: 80%;
}

.choose-click1, .choose-click2, .choose-click3 {
    position: absolute;
    width: 50px;
    height: 50px;
    backdrop-filter: blur(8px);
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circ-click {
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    animation: pulse 2s infinite;
    &:hover{
        transform: scale(1.33);
        animation-play-state: paused;
    }
}

.color-selector {
    position: absolute;
    top: 60%;
    left: 15.5%;
    width: 112px;
    height: 48px;
    backdrop-filter: blur(8px);
    border: 1px solid rgb(193, 187, 187);
    border-radius: 36px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.orange-circ{
    width: 24px;
    height:24px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: orange;

}

.blue-circ {
    width: 24px;
    height:24px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: rgba(0, 214, 201, 1);
}
.grey-circ{
    width: 24px;
    height:24px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: rgba(124, 124, 124, 1);
}

.choose-click1 {
    top: 70%;
    left: 17%;
}

.choose-click2 {
    top: 80%;
    left: 7%;
}

.choose-click3 {
    top: 89%;
    right: 2%;
}

.content-holder form {
    position: relative;
}

.content-holder input {
    outline: none;
    width: 344px;
    height: 56px;
    padding: 15px 140px 15px 20px;
    margin-left: 20px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 42px;
    border: .8px solid rgba(255, 255, 255, 0.589);
    font-size: 18px;
    color: white;
}

 .content-holder .search-button {
    position: absolute;
    background-color: rgba(229, 132, 17, 1);
    width: 40px;
    height: 40px;
    border-radius: 24px;
    border: none;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    
}

/* Why Choosing Us */

.article-wrapper h2 {
    font-size: 42px;
    line-height: 50px;
}

.article-wrapper {
    display: flex;
    max-width: 1440px;
    align-items: center;
    justify-content: space-between;
    margin: 80px auto;
}

.article_holder-wrapper {
    width: 284px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.article-wrapper h3 {
    font-size: 24px;
    line-height: 28px;

   
}

.article-wrapper .article-text {
    font-size: 16px;
    line-height: 29px;
    opacity: 80%;

}
.article-wrapper div.more-info p {
    font-size: 14px;
    line-height: 26px;
    color: rgba(229, 132, 17, 1);
}
.article-wrapper div.more-info img {
    width: 38px;
    height: 11px;
}


.more-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

/* Best Selling Product */

.products-wrapper {
    min-width: 1440px;
    height: 906px;
    margin: 0 auto;
    background-color: rgba(247, 247, 247, 1);
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.products_info-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    gap: 32px;

}

.products-wrapper h2 {
    font-size: 42px;
    line-height: 50px;
}

.products-wrapper ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products-wrapper ul li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84px;
    height: 45px;
    
}

.products-wrapper ul li:hover {
    background-color: white;
    border-radius: 32px;
    transition: 0.3s;
}

.best_sellers-nav {
    width: 348px;
    height: 57px;
    background-color: rgba(238, 238, 238, 1);
    border-radius: 44px;
    display: flex;
    justify-content: center;
}

.cards-wrapper {
    position: relative;
    position: relative;
    display: flex;
    width: 1120px;
    height: 492px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 60px;
    gap: 32px;
}

.cards-wrapper button {
    background: none;
    border: none;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translate(-50%, -50%);
}

.right-arrow {
    position: absolute;
    top: 29%;
    right: 10px;
    transform: translate(-50%, -50%);
    rotate: 180deg;
}

.card_content-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 170px;
    padding: 14px 0 0 20px;
    background-color: #FFFFFF;
    border-radius: 0px 0px 20px 20px;
}

.chair-1 {
    position: absolute;
    z-index: 1;
    top: -20px;
   
}

.armchair-card {
    position: relative;

}
.gradient-background {
    position: relative;
    background-image: linear-gradient(rgba(255, 255, 255, 0.224), rgba(255, 255, 255, 0.399));
    width: 218px;
    height: 240px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px 14px 0;
}

.card-footer button {
    background-color: rgba(13, 27, 57, 1);
    width: 49px;
    height: 49px;
    border-radius: 31px;
}
.view_all-click {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    color: rgba(229, 132, 17, 1);
    font-size: 18px;
    line-height: 33px;

}

.view_all-click button {
    background: none;
    border: none;
}

.card_content-holder .specie {
    font-size: 17px;
    line-height: 21px;
    color: rgba(141, 141, 141, 1);
}

.card_content-holder h3 {
    font-size: 22px;

}

.rating, .rating-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    cursor: pointer;
}



.star_icon {
    color: lightgrey;
    font-size: 30px;
    transition: 0.3s;
}

.star_icon:hover, .star_icon:hover ~ .star_icon {
    color: rgba(246, 183, 111, 1);
}

/*  Experiences Materials Testimonials */

.web_content-wrapper{
    max-width: 1440px;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 250px;
    padding-bottom: 150px;
    flex-direction: column;
}

.experiences-box {
    margin-top: 240px;
    display: flex;
    gap: 300px;
}
.content-text {
    width: 556px;
    height: 132px;
}

.content-text {
    color: black;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.content-text h4 {
    color: rgba(229, 132, 17, 1);
    font-size: 18px;
    line-height: 22px;
}
.content-text h2 {
    font-size: 42px;
    line-height: 50px;

}
.content-text .paragraph{
    font-size: 18px;
    line-height: 34px;
    opacity: 80%;
}

.info-text {
    color: rgba(229, 132, 17, 1);
    font-size: 14px;
    line-height: 25px;

}

.more-info button {
    background: none;
    border: none;
}
.experiences_image-wrapper{
    position: relative;
    width: 630px;
    height: 445px; 
}
.grey-rectangle-vertical {
    background-color: rgba(247, 247, 247, 1); 
    width: 430px;
    height: 422px;
    border-radius: 0 20px 20px 0;
    z-index: 1;
    position: absolute;
    left: 0;
    top: -60px;
}

.grey-rectangle-horizontal {
    background-color: rgba(247, 247, 247, 1); 
    width: 490px;
    height: 301px;
    border-radius: 0 20px 20px 0;
    z-index: 2;
    position: absolute;
    right: -60px; 
    top: 50%;
    transform: translateY(-50%);
}

.experiences-img {
    width: 630px;
    height: 445px; 
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 20px 20px 0;
}

.materials-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.materials-box-wrapper {
    display: flex;
    margin: 0 0 200px 80px;
}

.materials_image-wrapper {
    display: grid;
    order: 1;
    grid-template-areas:
        "image1 . ."
        "image1 image3 image3 "
        "image2 image3 image3 "
        "image2 image3 image3 "
        "image2  . ."
        ;
    gap: 40px;
}

.image1 {
    grid-area: image1;
}

.image2 {
    grid-area: image2;
}

.image3 {
    position: relative;
    grid-area: image3;
}

.grey-rectangle-vertical2 {
    background-color: rgba(247, 247, 247, 1); 
    width: 275px;
    height: 422px;
    border-radius: 20px 0 0 20px ;
    position: absolute;
    right: 0;
    z-index: -3;
    top: -60px;
    grid-area: image3;

}

.img-shadow-2 {
    position: absolute;
    z-index: -5;
    bottom: -70px;
    right: 0;
    grid-area: image3;
}

.testimonials-wrapper {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.testimonials-wrapper h3 {
    color: rgba(229, 132, 17, 1);
    font-size: 18px;
    line-height: 21px;
}

.testimonials-wrapper h2 {
    color: black;
    font-size: 42px;
    line-height: 50px;
} 

/* testimonials */

.reviews-wrapper {
    display: flex;
    gap: 34px;
    margin-top: 50px;
    /* background-color: red; */
}

.review_content-holder1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 370px;
    height: 502px;
    background-image: url(./Media/review-img1.png);
    background-repeat: no-repeat;
    color: black;
}

.swip-click-left {
    position: absolute;
    left:-25%;
    top: 40%;
    background: none;
    border: none;

}

.card-shadow {
    position: absolute;
    z-index: -3;
    top: 80px;
}

.review_content-holder2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 370px;
    height: 502px;
    background-image: url(./Media/review-img2.png);
    background-repeat: no-repeat;
    color: black;
}

.review_content-holder3 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 370px;
    height: 502px;
    background-image: url(./Media/review-img3.png);
    background-repeat: no-repeat;
    color: black;
}

.swip-click-right {
    position: absolute;
    right:-10%;
    top: -88%;
    background: none;
    border: none;
}

.user-review {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    margin-bottom: 42px;
    gap: 10px;
    width: 334px;
    height: 200px;
    background-color: white;
    border-radius: 19px;
    
}

.user-photo {
    width: 50px;
    height: 50px;

}

.avatar-circle {
    position: absolute;
    width: 66px;
    height: 66px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top:-30px;

}

/* before after effects for avatar circle */

.avatar-circle::before{
    content: ' ';
    position: absolute;
    width: 20px;
    height: 17px;
    background-color: #1a111100;
    /* border-radius: 50%; */
    top: 14px;
    left: 62px;
    transform: rotate(77deg);
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 0px 1px #ffffff;
}

.avatar-circle::after{
    content: ' ';
    position: absolute;
    width: 20px;
    height: 17px;
    background-color: #471d1d00;
    /* border-radius: 50%; */
    top: 14px;
    left: -16px;
    transform: rotate(0deg);
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 0px 1px #ffffff;
}

.user-name {
    font-size: 21px;
    font-weight: bold;
    line-height: 21px;

}

.user-fullname {
    font-size: 12px;
    opacity: 60%;
    line-height: 14px;
}

.review {
    font-size: 14px;
    opacity: 80%;
    line-height: 16px;
}

footer {
    min-width: 1440px;
    /* height: 462px; */
    background-color: rgba(247, 247, 247, 1);
    display: flex;
    flex-direction: column;

}
.text-holder {
    display: flex;
    gap: 250px;
    margin: 0 auto ;
    padding: 7%;
}
.info-holder {
    display: flex;
    gap: 110px;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


footer li {
    list-style: none;
    font-size: 15px; 
    line-height: 25px;
    opacity: 80%;
}

footer span {
    font-size: 28px;
    line-height: 32px;
    font-weight: bold;
}

footer .text-holder p {
    width: 290px;
    height: 75px;
    font-size: 15px;
    line-height: 24px;
    opacity: 80%;
}

footer .text {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

footer h3 {
    color: rgba(246, 151, 63, 1);
    font-size: 17px;
    line-height: 21px;
}

.fb-icon {
    width: 10px;
    height: 20px;

}
.twitter-icon {
    width: 19.5px;
    height: 16px;
}
.insta-icon {
    width: 20px;
    height: 20px;
}
.extra-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logo-list {
    display: flex;
    gap: 10px;
}

.privacy {
    max-width: 1440px;
    display: flex;
    gap: 673px;
    margin: 20px auto;
}

.copy-right {
    font-size: 15px;
    line-height: 20px;
    opacity: 50%;
}

.privacy .terms-privacy p {
    font-size: 15px;
    line-height: 24px;
    opacity: 80%;
}

.terms-privacy {
    display: flex;
    gap: 20px;
}






